<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.kd.dhk"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity_"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Main2Activity_"
            android:label="@string/title_activity_main2">

        </activity>
        <activity
            android:name=".activity.Main22Activity"
            android:label="@string/title_activity_main22"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>
